[
{% for host in groups['management_scale_out'] %}
    {
        "fqdn": "{{ host }}",
        "username": "{{ hostvars[host].ansible_user }}",
        "password": "{{ hostvars[host].ansible_password }}",
{% if vsan_spec.esa_config is defined and vsan_spec.esa_config | bool %}
        "storageType": "VSAN_ESA",
{% else %}
        "storageType": "VSAN",
{% endif %}
        "networkPoolId": "{{ management_network_pool_id }}",
        "networkPoolName": "{{ management_pool_name }}",
{% if not (vcf.skip_esx_thumbprint_validation | default(false) | bool) %}
        "sshThumbprint": "{{ hostvars[host].esxi_ssh_thumbprint | default('') }}",
        "sslThumbprint": "{{ hostvars[host].esxi_ssl_thumbprint | default('') }}"
{% endif %}
    }
{% endfor %}
]
