{#
# Host specifications for VMware Cloud Foundation
# This template renders the hostSpecs section
#}
{% from 'macros.yaml.j2' import render_host_spec %}

hostSpecs:
{% for host in groups['vcf_cluster'] %}
{{ render_host_spec(host, hostvars, extensionInstanceRecordSet, esxi_standard_switch_name) | indent(2, True) }}
{% endfor %}
