# rsyslog configuration file

#### GLOBAL DIRECTIVES ####

# Where to place auxiliary files
global(workDirectory="/var/lib/rsyslog")

# Use default timestamp format
module(load="builtin:omfile" Template="RSYSLOG_TraditionalFileFormat")

#### MODULES ####

# Load modules for socket logging and journal integration
module(load="imuxsock" SysSock.Name="/var/run/rsyslog/dev-log")
module(load="imjournal")  # Enables integration with systemd journal

#### INCLUDE CONFIGURATIONS ####

# Include additional configuration files
include(file="/etc/rsyslog.d/*.conf" mode="optional")

#### RULES ####

*.info;mail.none;authpriv.none;cron.none                /var/log/messages
authpriv.*                                              /var/log/secure
mail.*                                                  -/var/log/maillog
cron.*                                                  /var/log/cron
*.emerg                                                 :omusrmsg:*
uucp,news.crit                                          /var/log/spooler
local7.*                                                /var/log/boot.log
*.err                                                   /var/log/rsyslog/rsyslog.error
