{#
# Host specifications for VMware Cloud Foundation 9.x
# 9.0 hostSpecs carry only hostname/credentials/thumbprints; host IPs resolve via DNS (hostname + dnsSpec.subdomain)
#}
{% from 'macros.yaml.j2' import render_host_spec %}

hostSpecs:
{% for host in groups['management'] %}
{{ render_host_spec(host, hostvars, subdomain, vcf.skip_esx_thumbprint_validation | default(false)) | indent(2, True) }}
{% endfor %}
