{#
# NSX specifications for VMware Cloud Foundation
# This template renders the nsxtSpec section
#}
{% from 'macros.yaml.j2' import render_nsx_manager %}
nsxtSpec:
  nsxtManagerSize: "{{ nsx_spec.nsxt_manager_size }}"
  nsxtManagers:
{{ render_nsx_manager(nsx_spec.nsxt_manager_a) | indent(2, True) -}}
{{ render_nsx_manager(nsx_spec.nsxt_manager_b) | indent(2, True) -}}
{{ render_nsx_manager(nsx_spec.nsxt_manager_c) | indent(2, True) }}
  rootNsxtManagerPassword: "{{ nsx_spec.nsxt_manager_root_password }}"
  nsxtAdminPassword: "{{ nsx_spec.nsxt_manager_admin_password }}"
  nsxtAuditPassword: "{{ nsx_spec.nsxt_manager_audit_password }}"
  vip: "{{ nsx_spec.nsxt_manager_vip.ipv4_address }}"
  vipFqdn: "{{ nsx_spec.nsxt_manager_vip.hostname }}"
  transportVlanId: "{{ nsx_spec.tep_transport_vlan_id }}"
  ipAddressPoolSpec:
    name: "{{ nsx_spec.nsxt_host_overlay_tep_ip_pool.name}}"
    description: "{{ nsx_spec.nsxt_host_overlay_tep_ip_pool.description}}"
    subnets:
    - ipAddressPoolRanges:
      - start: "{{ nsx_spec.nsxt_host_overlay_tep_ip_pool.subnet_ip_rage.start}}"
        end: "{{ nsx_spec.nsxt_host_overlay_tep_ip_pool.subnet_ip_rage.end}}"
      cidr: "{{ nsx_spec.nsxt_host_overlay_tep_ip_pool.subnet_ip_rage.cidr}}"
      gateway: "{{ nsx_spec.nsxt_host_overlay_tep_ip_pool.subnet_ip_rage.gateway}}"
{% if licenses_required and (vcf.license.nsx | default('') | trim | length > 0) %}
  nsxtLicense: "{{ vcf.license.nsx }}"
{% endif %}
