{#
# vSAN specifications for VMware Cloud Foundation
# This template renders the vsanSpec section
#}

vsanSpec:
  vsanDedup: {{ vsan_spec.vsan_dedup }}
  hclFile: "{{ vsan_spec.hcl_file }}"
  datastoreName: "{{ vsan_spec.datastore_name }}"
  esaConfig:
    enabled: {{ vsan_spec.esa_config }}
{% if vsan_spec.license_file | trim | length > 0 %}
  licenseFile: "{{ vsan_spec.license_file }}"
{% endif %}
