{% set raw_seed = ansible_default_ipv4.address.split('.')[-1] | int %}
{% set seed = raw_seed - 89 %}
$TTL    604800
@       IN      SOA     ocp-svc.{{ base_domain }}. contact.{{ base_domain }} (
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Minimum
)
        IN      NS      ocp-svc.{{ base_domain }}.

{{ seed + 102 }}      IN    PTR    ocp-svc.{{ base_domain }}.
{{ seed + 102 }}      IN    PTR    api.lab.{{ base_domain }}.
{{ seed + 102 }}      IN    PTR    api-int.lab.{{ base_domain }}.
;
{{ seed + 108 }}      IN    PTR    ocp-bootstrap.lab.{{ base_domain }}.
;
{% for i in range(3) %}
{{ seed + 103 + i }} IN PTR ocp-cp-{{ i + 1 }}.lab.{{ base_domain }}.
{% endfor %}
;
{% for i in range(2) %}
{{ seed + 106 + i }} IN PTR ocp-w-{{ i + 1 }}.lab.{{ base_domain }}.
{% endfor %}
