options {
    listen-on port 53 { 127.0.0.1; {{ ansible_default_ipv4.address }}; };
    # Disable IPv6
    listen-on-v6 { none; };

    directory "/var/named";
    dump-file "/var/named/data/cache_dump.db";
    statistics-file "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    recursing-file "/var/named/data/named.recursing";
    secroots-file "/var/named/data/named.secroots";

    allow-query { localhost; {{ ansible_default_ipv4.network }}/{{ ansible_default_ipv4.prefix }}; };

    recursion yes;
    dnssec-enable yes;
    dnssec-validation yes;

    forwarders {
        8.8.8.8;
        8.8.4.4;
    };

    bindkeys-file "/etc/named.root.key";
    managed-keys-directory "/var/named/dynamic";
    pid-file "/run/named/named.pid";
    session-keyfile "/run/named/session.key";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "." IN {
    type hint;
    file "named.ca";
};

zone "{{ base_domain }}" {
    type master;
    file "/etc/named/zones/db.{{ base_domain }}";
};

zone "{{ '.'.join(ansible_default_ipv4.network.split('.')[:3][::-1]) }}.in-addr.arpa" {
    type master;
    file "/etc/named/zones/db.reverse";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
