{#
# Cluster specifications for VMware Cloud Foundation
# This template renders the clusterSpec and pscSpecs sections
#}
{% from 'macros.yaml.j2' import render_resource_pool %}
clusterSpec:
  clusterName: "{{ cluster_spec.name }}"
  clusterEvcMode: "{{ cluster_spec.evc_mode }}"
  clusterImageEnabled: {{ cluster_spec.image_enabled }}
  vmFolders:
    MANAGEMENT: "{{ cluster_spec.vm_folders.management }}"
    NETWORKING: "{{ cluster_spec.vm_folders.networking }}"
  resourcePoolSpecs:
{% for resource_pool in cluster_spec.resource_pool_specs_consolidated %}
{{ render_resource_pool(resource_pool) | indent(2, True) }}
{% endfor %}
